{% extends 'generic/object.html' %}
{% load static %}
{% load helpers %}
{% load plugins %}
{% load render_table from django_tables2 %}
{% load i18n %}

{% block extra_controls %}
  {% if not object.is_active %}
    {% if object.ready %}
      <a href="?_context={{ object.schema_id }}" class="btn btn-primary" role="button">
        <i class="mdi mdi-check-bold"></i> {% trans "Activate" %}
      </a>
    {% else %}
      <a href="?_context={{ object.schema_id }}" class="btn btn-primary disabled" role="button" aria-disabled="true">
        <i class="mdi mdi-check-bold"></i> {% trans "Activate" %}
      </a>
    {% endif %}
  {% elif object.is_active %}
    <a href="?_context=" class="btn btn-danger">
      <i class="mdi mdi-close-thick"></i> {% trans "Deactivate" %}
    </a>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row">
	  <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">{% trans "Context" %}</h5>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Name" %}</th>
            <td>{{ object.name }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Status" %}</th>
            <td>
              {% if object.is_active %}
                {% trans "Active" as status %}
                {% badge status "blue" %}
              {% else %}
                {% badge object.get_status_display object.get_status_color %}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">{% trans "Description" %}</th>
            <td>{{ object.description|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Conflicts" %}</th>
            <td>
              {% if conflicts_count %}
                <span class="text-red">{{ conflicts_count }} {% trans "conflicts found" %}</span>
              {% else %}
                <span class="text-green">
                  <i class="mdi mdi-check-bold"></i>
                  {% trans "None found" %}
                </span>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">{% trans "Schema" %}</th>
            <td class="font-monospace">{{ object.schema_name }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Application ID" %}</th>
            <td>
              {% if object.application_id %}
                <a href="{% url 'extras:objectchange_list' %}?request_id={{ object.application_id|placeholder }}">{{ object.application_id|placeholder }}</a>
              {% else %}
                {{ ''|placeholder }}
              {% endif %}
            </td>
          </tr>
        </table>
      </div>
      {% include 'inc/panels/tags.html' %}
      {% plugin_left_page object %}
    </div>
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Rebase Context</h5>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Last synced" %}</th>
            <td>{{ object.synced_time|isodatetime }}</td>
          </tr>
        <tr>
          <th scope="row">{% trans "Unsynced changes" %}</th>
          <td>
            {% if unsynced_changes_count and not object.is_active %}
              {# TODO: Fix timezone awareness #}
              <a href="{% url 'extras:objectchange_list' %}?time_after={{ object.synced_time|date:"Y-m-d H:i:s" }}">{{ unsynced_changes_count }}</a>
            {% elif unsynced_changes_count %}
              {{ unsynced_changes_count }}
            {% else %}
              <span class="text-muted">{% trans "None" %}</span>
            {% endif %}
          </td>
        </tr>
        </table>
        {% if object.is_active %}
          <div class="card-body">
            Deactivate context to rebase
          </div>
        {% else %}
          <div class="card-body">
            <form method="post" action="{% url 'plugins:netbox_vcs:context_rebase' pk=object.pk %}">
              {% csrf_token %}
              {{ rebase_form }}
              <input type="submit" class="btn btn-primary" value="Rebase">
            </form>
          </div>
        {% endif %}
      </div>
      <div class="card">
        <h5 class="card-header">Apply Changes</h5>
        {% if object.is_active %}
          <div class="card-body">
            Deactivate context to apply
          </div>
        {% else %}
          <div class="card-body">
            <form method="post" action="{% url 'plugins:netbox_vcs:context_apply' pk=object.pk %}">
              {% csrf_token %}
              {{ apply_form }}
              <input type="submit" class="btn btn-primary" value="Apply">
            </form>
          </div>
        {% endif %}
      </div>
      {% include 'inc/panels/custom_fields.html' %}
      {% plugin_right_page object %}
    </div>
  </div>
  <div class="row">
    <div class="col col-4">
      <div class="card border-green">
        <h5 class="card-header text-green">{% trans "Created" %}</h5>
        <ul class="list-group list-group-flush">
          {% for model, count in stats.created.items %}
            <li class="list-group-item d-flex justify-content-between">
              {{ model|meta:"verbose_name_plural"|bettertitle }}
              <span class="badge">{{ count }}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col col-4">
      <div class="card border-yellow">
        <h5 class="card-header text-yellow">{% trans "Updated" %}</h5>
        <ul class="list-group list-group-flush">
          {% for model, count in stats.updated.items %}
            <li class="list-group-item d-flex justify-content-between">
              {{ model|meta:"verbose_name_plural"|bettertitle }}
              <span class="badge">{{ count }}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col col-4">
      <div class="card border-red">
        <h5 class="card-header text-red">{% trans "Deleted" %}</h5>
        <ul class="list-group list-group-flush">
          {% for model, count in stats.deleted.items %}
            <li class="list-group-item d-flex justify-content-between">
              {{ model|meta:"verbose_name_plural"|bettertitle }}
              <span class="badge">{{ count }}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col col-md-12">
      {% plugin_full_width_page object %}
    </div>
  </div>
{% endblock %}
