{% extends 'generic/object.html' %}
{% load static %}
{% load helpers %}
{% load plugins %}
{% load render_table from django_tables2 %}
{% load i18n %}

{% block content %}
  <div class="row mb-3">
	  <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">{% trans "Context" %}</h5>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Name" %}</th>
            <td>{{ object.name }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Status" %}</th>
            <td>{% badge object.get_status_display object.get_status_color %}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Active" %}</th>
            <td class="d-flex justify-content-between">
              {% if object.is_active %}
                <span class="text-green">
                  {% checkmark True %}
                  {% trans "Active" %}
                </span>
                <a href="?_context=" class="btn btn-sm btn-danger">
                  <i class="mdi mdi-source-branch-remove"></i> {% trans "Deactivate" %}
                </a>
              {% else %}
                <span>
                  {% checkmark False %}
                  {% trans "Inactive" %}
                </span>
                <a href="?_context={{ object.schema_id }}" class="btn btn-sm btn-primary">
                  <i class="mdi mdi-source-branch-check"></i> {% trans "Activate" %}
                </a>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">{% trans "Description" %}</th>
            <td>{{ object.description|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Schema" %}</th>
            <td class="font-monospace">{{ object.schema_name }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Last Rebased" %}</th>
            <td>{{ object.rebase_time|placeholder }}</td>
          </tr>
        </table>
      </div>
      {% include 'inc/panels/tags.html' %}
      {% plugin_left_page object %}
    </div>
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Rebase Context</h5>
        {% if object.is_active %}
          <div class="card-body">
            Deactivate context to rebase
          </div>
        {% else %}
          <div class="card-body">
            <form method="post" action="{% url 'plugins:netbox_vcs:context_rebase' pk=object.pk %}">
              {% csrf_token %}
              {{ rebase_form }}
              <input type="submit" class="btn btn-primary" value="Rebase">
            </form>
          </div>
        {% endif %}
      </div>
      <div class="card">
        <h5 class="card-header">Apply Changes</h5>
        {% if object.is_active %}
          <div class="card-body">
            Deactivate context to apply
          </div>
        {% else %}
          <div class="card-body">
            <form method="post" action="{% url 'plugins:netbox_vcs:context_apply' pk=object.pk %}">
              {% csrf_token %}
              {{ apply_form }}
              <input type="submit" class="btn btn-primary" value="Apply">
            </form>
          </div>
        {% endif %}
      </div>
      {% include 'inc/panels/custom_fields.html' %}
      {% plugin_right_page object %}
    </div>
  </div>
  <div class="row mb-3">
    <div class="col col-md-12">
      {% plugin_full_width_page object %}
    </div>
  </div>
{% endblock %}
