{% extends 'generic/object.html' %}
{% load static %}
{% load helpers %}
{% load plugins %}
{% load render_table from django_tables2 %}
{% load i18n %}

{% block title %}{{ object }} - Diff{% endblock %}

{% block content %}
  <div class="card">
    <table class="table object-list">
      <thead>
        <tr>
          <th>{% trans "Model" %}</th>
          <th>{% trans "Object" %}</th>
          <th>{% trans "Current" %}</th>
          <th>{% trans "Changed" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for key, data in diff.items %}
          <tr>
{#            <td>{{ data.object|meta:"model_name"|bettertitle }}</td>#}
            <td>{{ key }}</td>
            <td>
              {% if data.object %}
                {{ data.object|linkify }}
              {% else %}
                {{ data.object_repr }}
              {% endif %}</td>
            <td>
              {% for k, v in data.current.items %}
                <div class="font-monospace">
                  {{ k }}: {{ v|placeholder }}
                </div>
              {% empty %}
                {{ ''|placeholder }}
              {% endfor %}
            </td>
            <td>
              {% for k, v in data.changed.post.items %}
                <div class="font-monospace">
                  {{ k }}: {{ v }}
                  {% if data.changed.pre|get_item:k != data.current|get_item:k %}
                    <i class="mdi mdi-alert"></i>
                  {% endif %}
                </div>
              {% empty %}
                {{ ''|placeholder }}
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}
