{% extends 'generic/object.html' %}
{% load static %}
{% load helpers %}
{% load plugins %}
{% load render_table from django_tables2 %}
{% load i18n %}

{% block title %}{{ object }} - Replay{% endblock %}

{% block content %}
  <div class="card">
    <table class="table object-list">
      <thead>
        <tr>
          <th>{% trans "Time" %}</th>
          <th>{% trans "Action" %}</th>
          <th>{% trans "Model" %}</th>
          <th>{% trans "Object" %}</th>
          <th>{% trans "Before" %}</th>
          <th>{% trans "After" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for record in replay %}
          <tr>
            <td>{{ record.change.time }}</td>
            <td>{% badge record.change.get_action_display bg_color=record.change.get_action_color %}</td>
            <td>{{ record.model|meta:"verbose_name"|bettertitle }}</td>
            <td>{{ record.change.changed_object|default:record.change.object_repr|linkify }}</td>
            <td>
              {% if record.change.action == 'create' %}
                {{ ''|placeholder }}
              {% else %}
                <pre class="p-0">{% for k, v in record.data.pre.items %}{{ k }}: {{ v }}
{% endfor %}</pre>
              {% endif %}
            </td>
            <td>
              {% if record.change.action == 'delete' %}
                {{ ''|placeholder }}
              {% else %}
                <pre class="p-0">{% for k, v in record.data.post.items %}{{ k }}: {{ v }}
{% endfor %}</pre>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}
