{% extends 'generic/_base.html' %}
{% load form_helpers %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block title %}
  {% blocktrans with count=table.rows|length %}Migrate {{ count }} Branches?{% endblocktrans %}
{% endblock %}

{% block tabs %}
  <ul class="nav nav-tabs">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="migrate-form-tab" data-bs-toggle="tab" data-bs-target="#migrate-form" type="button" role="tab" aria-controls="migrate-form" aria-selected="true">
        {% trans "Bulk Migrate" %}
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="object-list-tab" data-bs-toggle="tab" data-bs-target="#object-list" type="button" role="tab" aria-controls="object-list" aria-selected="false">
        {% trans "Selected Branches" %}
        {% badge table.rows|length %}
      </button>
    </li>
  </ul>
{% endblock tabs %}

{% block content %}

  {# Confirmation form #}
  <div class="tab-pane show active" id="migrate-form" role="tabpanel" aria-labelledby="migrate-form-tab">
    <div class="alert alert-warning bg-warning-subtle" role="alert">
      <div class="d-flex">
        <div>
          <i class="mdi mdi-alert p-2"></i>
        </div>
        <div>
          <h4 class="alert-title">{% trans "Confirm Bulk Migration" %}</h4>
          {% blocktrans trimmed with count=table.rows|length %}
            The following operation will apply pending database migrations to <strong>{{ count }}</strong>
            branches. Migrations cannot be reversed once applied. A background job will be queued for each branch.
          {% endblocktrans %}
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <form action="" method="post">
        {% csrf_token %}

        {# Hidden PK fields #}
        {% for field in form.hidden_fields %}
          {{ field }}
        {% endfor %}
        <input type="hidden" name="return_url" value="{{ return_url }}">

        {# Form buttons #}
        <div class="text-end">
          <a href="{{ return_url }}" class="btn btn-outline-secondary">{% trans "Cancel" %}</a>
          <button type="submit" name="_confirm" class="btn btn-primary">
            {% blocktrans with count=table.rows|length %}Migrate {{ count }} Branches{% endblocktrans %}
          </button>
        </div>

      </form>
    </div>
  </div>
  {# /Confirmation form #}

  {# Selected branches list #}
  <div class="tab-pane" id="object-list" role="tabpanel" aria-labelledby="object-list-tab">
    <div class="card">
      <div class="table-responsive">
        {% render_table table 'inc/table.html' %}
      </div>
    </div>
  </div>
  {# /Selected branches list #}

{% endblock content %}
