{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}
{% load i18n %}

{% block title %}{% trans "Change Diff" %} #{{ object.pk }}{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{% url 'plugins:netbox_branching:changediff_list' %}">{% trans "Change Diffs" %}</a></li>
  <li class="breadcrumb-item">{{ object }}</li>
{% endblock %}

{# ChangeDiff does not support add/edit/delete controls #}
{% block control-buttons %}{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}

{# Row 1: Change Diff detail | Conflicts #}
<div class="row">
  <div class="col col-12 col-md-6">
    <div class="card">
      <h2 class="card-header">{% trans "Change Diff" %}</h2>
      <table class="table table-hover attr-table">
        <tr>
          <th scope="row">{% trans "Branch" %}</th>
          <td>{{ object.branch|linkify }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Object Type" %}</th>
          <td>{{ object.object_type }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Object" %}</th>
          <td>
            {% if object.object and object.object.get_absolute_url %}
              {{ object.object|linkify }}
            {% else %}
              {{ object.object_repr }}
            {% endif %}
          </td>
        </tr>
        <tr>
          <th scope="row">{% trans "Action" %}</th>
          <td>{% badge object.get_action_display object.get_action_color %}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Last Updated" %}</th>
          <td>{{ object.last_updated|isodatetime }}</td>
        </tr>

      </table>
    </div>
  </div>
  <div class="col col-12 col-md-6">
    <div class="card {% if object.conflicts %}border-danger{% endif %}">
      <h2 class="card-header {% if object.conflicts %}text-danger{% endif %}">{% trans "Conflicts" %}</h2>
      {% if object.conflicts %}
      <div class="card-body p-0">
        <table class="table table-hover mb-0">
          <thead>
            <tr>
              <th>{% trans "Field" %}</th>
              <th>{% trans "Branch" %}</th>
              <th>{% trans "Main" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for field in object.conflicts %}
            <tr>
              <td><code>{{ field }}</code></td>
              <td>{% if object.modified %}{{ object.modified|get_item:field|json }}{% else %}<span class="text-muted">{% trans "Deleted" %}</span>{% endif %}</td>
              <td>{% if object.current %}{{ object.current|get_item:field|json }}{% else %}<span class="text-muted">{% trans "Deleted" %}</span>{% endif %}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      <div class="card-body">
        <span class="text-success">
          <i class="mdi mdi-check-bold" aria-hidden="true"></i>
          {% trans "None" %}
        </span>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{# Row 2: Original | Branch | Difference #}
<div class="row">
  <div class="col col-12 col-md-4">
    <div class="card">
      <h5 class="card-header">{% trans "Original" %}</h5>
      <div class="card-body p-0">
        {% if object.original %}
          {% spaceless %}
            <pre class="change-data m-0">
              {% for k, v in object.original.items %}
                <span{% if k in altered_in_modified %} class="removed"{% endif %}>{{ k }}: {{ v|json }}</span>
              {% endfor %}
            </pre>
          {% endspaceless %}
        {% else %}
          <span class="text-muted p-2 d-block">{% trans "None" %}</span>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col col-12 col-md-4">
    <div class="card">
      <h5 class="card-header">{% trans "Changed in" %} {{ object.branch.name }}</h5>
      <div class="card-body p-0">
        {% if object.modified %}
          {% spaceless %}
            <pre class="change-data m-0">
              {% for k, v in object.modified.items %}
                <span{% if k in altered_in_modified %} class="added{% if object.conflicts and k in object.conflicts %} conflict{% endif %}"{% endif %}>{{ k }}: {{ v|json }}</span>
              {% endfor %}
            </pre>
          {% endspaceless %}
        {% else %}
          <span class="text-muted p-2 d-block">{% trans "None" %}</span>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col col-12 col-md-4">
    <div class="card">
      <h5 class="card-header">{% trans "Difference" %}</h5>
      <div class="card-body">
        {% if branch_diff_added == None %}
          <span class="text-muted">
            {% if object.action == 'create' %}
              {% trans "Object Created" %}
            {% elif object.action == 'delete' %}
              {% trans "Object Deleted" %}
            {% else %}
              {% trans "No Changes" %}
            {% endif %}
          </span>
        {% else %}
          <pre class="change-diff change-removed">{{ branch_diff_removed|json }}</pre>
          <pre class="change-diff change-added">{{ branch_diff_added|json }}</pre>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{# Row 3: Original | Main | Difference (Main) #}
{% if main_diff_added != None %}
<div class="row">
  <div class="col col-12 col-md-4">
    <div class="card">
      <h5 class="card-header">{% trans "Original" %}</h5>
      <div class="card-body p-0">
        {% if object.original %}
          {% spaceless %}
            <pre class="change-data m-0">
              {% for k, v in object.original.items %}
                <span{% if k in altered_in_current %} class="removed"{% endif %}>{{ k }}: {{ v|json }}</span>
              {% endfor %}
            </pre>
          {% endspaceless %}
        {% else %}
          <span class="text-muted p-2 d-block">{% trans "None" %}</span>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col col-12 col-md-4">
    <div class="card">
      <h5 class="card-header">{% trans "Changed in main" %}</h5>
      <div class="card-body p-0">
        {% if object.current %}
          {% spaceless %}
            <pre class="change-data m-0">
              {% for k, v in object.current.items %}
                <span{% if k in altered_in_current %} class="added{% if object.conflicts and k in object.conflicts %} conflict{% endif %}"{% endif %}>{{ k }}: {{ v|json }}</span>
              {% endfor %}
            </pre>
          {% endspaceless %}
        {% else %}
          <span class="text-muted p-2 d-block">{% trans "None" %}</span>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col col-12 col-md-4">
    <div class="card">
      <h5 class="card-header">{% trans "Difference (Main)" %}</h5>
      <div class="card-body">
        <pre class="change-diff change-removed">{{ main_diff_removed|json }}</pre>
        <pre class="change-diff change-added">{{ main_diff_added|json }}</pre>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col col-md-6">
    {% plugin_left_page object %}
  </div>
  <div class="col col-md-6">
    {% plugin_right_page object %}
  </div>
</div>
<div class="row">
  <div class="col col-md-12">
    {% plugin_full_width_page object %}
  </div>
</div>
{% endblock %}
