{% load i18n %}
{% if active_context %}
  <div class="align-items-center">
    <i class="mdi mdi-source-branch"></i>
    <a href="{{ active_context.get_absolute_url }}" title="{{ active_context.description }}">{{ active_context.name }}</a>
    <a href="?_context=" class="btn btn-sm btn-danger">
      <i class="mdi mdi-close-thick" title="{% trans "Deactivate" %}"></i>
    </a>
  </div>
{% elif contexts %}
  <form method="get" class="row align-items-center">
    <div class="col-auto">
      <div class="input-group">
        <select name="_context" id="context_selector" class="form-select form-select-sm">
          <option></option>
          {% for context in contexts %}
            <option value="{{ context.schema_id }}"{% if not context.ready %} disabled{% endif %}>
              {{ context.name }}
              {% if not context.ready %}({{ context.status }}){% endif %}
            </option>
          {% endfor %}
        </select>
        <button type="submit" value="Activate" class="btn btn-sm btn-primary" >
          <i class="mdi mdi-check-bold"></i> {% trans "Activate" %}
        </button>
      </div>
    </div>
  </form>
{% endif %}
